body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex:1;
}
header {
    background-color: #096bce;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.question-list ul {
    list-style: none;
    padding: 0;
}

.question-list li {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-question-form, .question-detail {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.error-messages {
    color: red;
    margin-top: 10px;
}

.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.login-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

.login-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #2980b9;
}

.register-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

.register-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #2980b9;
}

.register-container .login-link {
    text-align: center;
    margin-top: 1rem;
    color: #666;
}

.register-container .login-link a {
    color: #3498db;
    text-decoration: none;
}

.register-container .login-link a:hover {
    text-decoration: underline;
}